body{
    background-color:#3A5A40 ;
}
.yearDropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}


.navbar ul li.active a {
    color: #b96060; /* Change this to the desired color for the active link */
    /* Add any other styles you want for the active link */
    text-decoration: underline;
}

