/* Styling for the delete button */
.button-Cancel {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
  
  .button-Cancel:hover {
    background-color: #cc0000;
  }
  
  /* Styling for the cancel button */
  .button-done {
    background-color: #00ff22;
    color: #000;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
  
  .button-done:hover {
    background-color: #999999;
}